<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.pnplab.flux"
          android:versionCode="15"
          android:versionName="2.5">


    <!-- aware external app demo perms' -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />


    <!-- perms coming from I don't know where -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- <uses-permission android:name="android.permission.CAMERA"/> -->
    <!-- <uses-permission android:name="android.permission.FLASHLIGHT"/> -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" /> -->

    <!-- aware-client perms' -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <!-- not sure the next perm is req., it's used on the aware-client repo but not the ucla one -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- needed for Android 28 P -->
    <!-- <uses-permission android:name="android.permission.READ_SYNC_STATS" />-->
    <!-- <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />-->
    <!-- <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />-->
    <!-- <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />-->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
    <!-- Permissions to safeguard data collection quality -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" />-->
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->

    <permission
        android:name="com.aware.READ_CONTEXT_DATA"
        android:description="@string/read_permission"
        android:icon="@drawable/ic_launcher_settings"
        android:label="Read AWARE&apos;s Context data"
        android:protectionLevel="normal" />
    <permission
        android:name="com.aware.WRITE_CONTEXT_DATA"
        android:description="@string/write_permission"
        android:icon="@drawable/ic_launcher_settings"
        android:label="Write to AWARE&apos;s Context data"
        android:protectionLevel="normal" />

    <!--
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="22"
        tools:overrideLibrary="com.aware" />
    -->

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="26"
        tools:overrideLibrary="com.aware" />

    <application
        android:name="org.pnplab.flux.MainApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <!--
        <activity
            android:name=".AwareDebugActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name="org.pnplab.flux.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

        <!-- Adding accessibility service to this app -->
        <service
            android:name="com.aware.Applications"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            tools:replace="android:enabled,android:exported">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
                <category android:name="android.accessibilityservice.category.FEEDBACK_GENERIC" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/aware_accessibility_config" />
        </service>

        <!--
        commenting out this react FileProvider to leave space for aware's standard one
        @todo check if it works with <Video>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.pnplab.flux.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
        -->

        <!-- Use a hardcoded label string on the service
        to keep the name of the original plugin if added as a library to another -->
        <service
            android:name="org.pnplab.flux.aware_plugins.eegmuse.Plugin"
            android:exported="false"
            android:label="AWARE: Plugin Template" />

        <activity
            android:name="org.pnplab.flux.aware_plugins.eegmuse.Settings"
            android:exported="false" />

        <!-- Keep the ${applicationId} so there are no conflicts when merging this plugin as a library for reuse. Update the plugin_template string in values -->
        <provider
            android:name="org.pnplab.flux.aware_plugins.eegmuse.Provider"
            android:authorities="org.pnplab.flux.provider.eegmuse"
            android:exported="false"
            android:label="EEG Muse Sensor"
            android:syncable="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />

        <service
            android:name="org.pnplab.flux.aware_plugins.eegmuse.SyncAdapter"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_template_eegmuse" />
        </service>

        <provider
            android:name="org.pnplab.flux.aware_plugins.questionnaire.Provider"
            android:authorities="org.pnplab.flux.provider.questionnaire"
            android:exported="false"
            android:label="Self-Reported Questionnaire"
            android:syncable="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />

        <service
            android:name="org.pnplab.flux.aware_plugins.questionnaire.SyncAdapter"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_template_questionnaire" />
        </service>

    </application>

</manifest>