<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EEG101.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>430DDBDC0582D917841D7062821D200BE1528DA2</string>
				<key>dateExpires</key>
				<string>18/03/2019</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430DDBDC0582D917841D7062821D200BE1528DA2</string>
						<key>dateExpires</key>
						<string>18/03/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaAsyncSocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BBT48V5R86</string>
						<key>name</key>
						<string>PIRONT Thibault</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430DDBDC0582D917841D7062821D200BE1528DA2</string>
						<key>dateExpires</key>
						<string>18/03/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EAIntroView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BBT48V5R86</string>
						<key>name</key>
						<string>PIRONT Thibault</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430DDBDC0582D917841D7062821D200BE1528DA2</string>
						<key>dateExpires</key>
						<string>18/03/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EARestrictedScrollView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BBT48V5R86</string>
						<key>name</key>
						<string>PIRONT Thibault</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430DDBDC0582D917841D7062821D200BE1528DA2</string>
						<key>dateExpires</key>
						<string>18/03/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMOAuth2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BBT48V5R86</string>
						<key>name</key>
						<string>PIRONT Thibault</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430DDBDC0582D917841D7062821D200BE1528DA2</string>
						<key>dateExpires</key>
						<string>18/03/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BBT48V5R86</string>
						<key>name</key>
						<string>PIRONT Thibault</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430DDBDC0582D917841D7062821D200BE1528DA2</string>
						<key>dateExpires</key>
						<string>18/03/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BBT48V5R86</string>
						<key>name</key>
						<string>PIRONT Thibault</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430DDBDC0582D917841D7062821D200BE1528DA2</string>
						<key>dateExpires</key>
						<string>18/03/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RingBuffer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BBT48V5R86</string>
						<key>name</key>
						<string>PIRONT Thibault</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430DDBDC0582D917841D7062821D200BE1528DA2</string>
						<key>dateExpires</key>
						<string>18/03/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SCNetworkReachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BBT48V5R86</string>
						<key>name</key>
						<string>PIRONT Thibault</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430DDBDC0582D917841D7062821D200BE1528DA2</string>
						<key>dateExpires</key>
						<string>18/03/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BBT48V5R86</string>
						<key>name</key>
						<string>PIRONT Thibault</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430DDBDC0582D917841D7062821D200BE1528DA2</string>
						<key>dateExpires</key>
						<string>18/03/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>StudentLifeAudio.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BBT48V5R86</string>
						<key>name</key>
						<string>PIRONT Thibault</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430DDBDC0582D917841D7062821D200BE1528DA2</string>
						<key>dateExpires</key>
						<string>18/03/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TPCircularBuffer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BBT48V5R86</string>
						<key>name</key>
						<string>PIRONT Thibault</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>430DDBDC0582D917841D7062821D200BE1528DA2</string>
						<key>dateExpires</key>
						<string>18/03/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ios_ntp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BBT48V5R86</string>
						<key>name</key>
						<string>PIRONT Thibault</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BBT48V5R86.org.bimslab.EEG101</string>
				<key>com.apple.developer.team-identifier</key>
				<string>BBT48V5R86</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>BBT48V5R86.org.bimslab.EEG101</string>
				</array>
			</dict>
			<key>name</key>
			<string>EEG101.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>47cfae99-1ac0-44d6-b435-789b70b8c9c4</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: org.bimslab.EEG101</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BBT48V5R86</string>
				<key>name</key>
				<string>PIRONT Thibault</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
